html, body { 
	height: 100%;
	background: rgb(52,90,161);
}
#cloudsTop {
	background: url('images/cloudsBottom.png') no-repeat 0 0;
	position:absolute;
	width:152px;
	height:88px;
	left:20px;
	top:20px;
	z-index: 10;
}
#cloudsBottom {
	background: url('images/cloudsBottom.png') no-repeat 0 0;
	position:absolute;
	width:152px;
	height:88px;
	right:50px;
	bottom:50px;
	z-index: 10;
}
#wrapper {
	width:100%;
	height:100%;
}
#headerContainer {
	width:100%;
	margin:0px;
	padding:0px;
	height:220px;
}
.innerWrapper {
	width:1280px;
	height:100%;
	margin:0px auto;
}
#branding {
	width:188px;
	height:134px;
	margin:65px 0px 0px 25px;
	background: url('images/logo.png') no-repeat 0 0;
	display:block;
	float:left;
}
#appContainer {
	width:168px;
	margin:65px 65px 0px 65px;
	display:block;
	float:right;
}
#appText {
	background: url('images/appText.png') no-repeat 0 0;
	width:167px;
	height:67px;
	margin-bottom:15px;
	display:block;
	float:left;
}
#appBtn {
	background: url('images/appBtn.png') no-repeat 0 0;
	width:163px;
	height:42px;
	margin:0px 3px;
	display:block;
	float:left;
}
#navigationContainer {
	width:100%;
	height:31px;
	background-color:rgb(116,150,197);
	margin:0px;
}
#naviWrapper {
	margin:0px auto;
	width:1230px;
	height:31px;
	padding:0px;
	background: rgb(52,90,161);
}
#naviLeft {
	height: 31px;
	width:600px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	background: rgb(116,150,197);
	display:block;
	float:left;
}
#naviBtnContainer {
	display:block;
	float:left;
	margin:0px 5px;
	width:448px;
	height:31px;			
}
.naviBtn {
	height: 14px;
	padding:8px 20px;
	margin:0px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(116,150,197);
	color:#fff;
	text-decoration: none;
	font-family: Helvetica;
	display:block;
	float:left;
}
.naviBtn:hover {
	background: rgb(226,148,74);
	color:#fff;
	text-decoration: none;
	font-family: Helvetica;
}
#naviRight {
	height: 31px;
	width:172px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background: rgb(116,150,197);
	display:block;
	float:right;
}
#contentContainer {
	width:1350px;
	height:100%;
	padding:0px 35px;
	margin:0px auto;
	display:block;
}
#contentWrapper {
	margin:0px;
	padding:35px 55px;
}
div.twocol {
	width:550px;
	display:block;
	margin:0px 20px;
	padding:0px;
	float:left;
}
div.twocol span {
	color:#fff;
	font-family: Helvetica;
	line-height: 24px;
}
.youtubeContainer {
	width:1180px;
	height:510px;
	background: url('images/ytbg.png') no-repeat 0 0;
	display:block;
	margin:0px auto;
	padding:12px;
}
.youtubeContainer iframe {
	width:853px;
	height:510px;
	display:block;
	margin:0px;
	float:left;
}
.youtubeContainer .ytInfoContainer {
	width:327px;
	height:510px;
	display:block;
	margin:0px;
	float:left;
}
.youtubeInfo {
	width:327px;
	height:80px;
	background: url('images/ytinfo.png') no-repeat 0 0;
	margin-bottom: 5px;
}